<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="">
</head>
<body>
  <h1>signup</h1>  
  <form action="">
      <label for="">username</label>
      <input type="text"id = "username" placeholder="Create a username(only letters and numbers )"Required>

      <label for="">first name</label>
      <input type="text"id = "first name" placeholder="Enter your first name"Required>

      <label for="">last name</label>
      <input type="text"id = "lastname" placeholder="Enter your last name"Required>

      <label for="">Email address</label>
      <input type="text"id = "email" placeholder="Enter your email address"Required>

      <label for="">password</label>
      <input type="password"id = "password" placeholder="Create your password"Required>
      <label for="">confirm password</label>
      <input type="password"id = "confirm password" placeholder="Confirm your password"Required>
  </form>
</body>
</html>